doctype html
head
	title=title
	link(type='text/css', rel='stylesheet', href='./public/vfs.css')
body
	script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js')
	script(src='./public/vfs.js')